### Load a map

In [43]:
from pymapmanager.mmMap import mmMap

# load a map
filePath = '/Users/cudmore/Desktop/data/cudmore/rr30a/rr30a.txt'
m = mmMap(filePath=filePath)

map rr30a loaded in 0.36 seconds.

### Get the number of segments in the map

In [44]:
print m.numMapSegments

5

### Calculate spine dynamics for each segment in a map

In [45]:
import pandas as pd
from IPython.display import display # displays pretty table in ipython

from pymapmanager.mmUtil import newplotdict
from pymapmanager.mmMapAnalysis import getMapDynamics

plotDict = newplotdict()
plotDict = getMapDynamics(m, plotDict) # this is a stan-alone function, you can write your own

# this will make m.numMapSegments tables (5 in this example)
for i, segmentReport in enumerate(plotDict):
    print '\n\n=== segment', str(i), '==='
    display(pd.DataFrame.from_dict(segmentReport, orient='index'))

mmMap.getDynamics() took 0.189500808716 seconds


=== segment 0 ===

,0,1,2,3,4,5,6,7,8
numgood,51.000000,50.000000,43.000000,59.000000,50.000000,52.000000,53.000000,56.000000,57.000000
goodlen,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
padd,NaN,11.764706,2.000000,37.209302,5.084746,16.000000,13.461538,13.207547,23.214286
goodlensmoothed,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
numbad,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
tor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dadd,0.000000,0.059300,0.010025,0.185875,0.032059,0.086104,0.081227,0.071154,0.129413
totalnum,51.000000,50.000000,43.000000,59.000000,50.000000,52.000000,53.000000,56.000000,57.000000
numadd,0.000000,6.000000,1.000000,16.000000,3.000000,8.000000,7.000000,7.000000,13.000000
numsub,7.000000,8.000000,0.000000,12.000000,6.000000,6.000000,4.000000,12.000000,0.000000
psub,NaN,15.686275,0.000000,27.906977,10.169492,12.000000,7.692308,22.641509,0.000000
totallen,94.655353,101.180881,99.753934,86.079169,93.577874,92.911403,86.178573,98.378357,100.453356
dsub,0.073953,0.079066,0.000000,0.139407,0.064118,0.064578,0.046415,0.121978,0.000000
numsub2,NaN,7.000000,8.000000,0.000000,12.000000,6.000000,6.000000,4.000000,12.000000
dsub2,NaN,0.069183,0.080197,0.000000,0.128235,0.064578,0.069623,0.040659,0.119458
totallensmoothed,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
psub2,NaN,13.725490,16.000000,0.000000,20.338983,12.000000,11.538462,7.547170,21.428571

=== segment 1 ===

,0,1,2,3,4,5,6,7,8
numgood,25.000000,22.000000,15.000000,22.000000,24.000000,20.000000,18.000000,17.000000,19.000000
goodlen,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
padd,NaN,4.000000,4.545455,50.000000,20.833333,4.000000,5.000000,5.555556,22.222222
goodlensmoothed,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
numbad,0.000000,0.000000,1.000000,2.000000,1.000000,0.000000,0.000000,1.000000,0.000000
tor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dadd,0.000000,0.008140,0.006788,0.083156,0.047677,0.009296,0.008851,0.008776,0.038680
totalnum,25.000000,22.000000,16.000000,24.000000,25.000000,20.000000,18.000000,18.000000,19.000000
numadd,0.000000,1.000000,1.000000,8.000000,5.000000,1.000000,1.000000,1.000000,4.000000
numsub,4.000000,8.000000,1.000000,3.000000,5.000000,3.000000,2.000000,2.000000,0.000000
psub,NaN,32.000000,4.545455,18.750000,20.833333,12.000000,10.000000,11.111111,0.000000
totallen,121.153825,122.849120,147.324623,96.204770,104.873399,107.572239,112.983375,113.941473,103.412510
dsub,0.033016,0.065121,0.006788,0.031183,0.047677,0.027888,0.017702,0.017553,0.000000
numsub2,NaN,4.000000,8.000000,1.000000,3.000000,5.000000,3.000000,2.000000,2.000000
dsub2,NaN,0.032560,0.054302,0.010394,0.028606,0.046480,0.026553,0.017553,0.019340
totallensmoothed,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
psub2,NaN,16.000000,36.363636,6.250000,12.500000,20.000000,15.000000,11.111111,11.111111

=== segment 2 ===

,0,1,2,3,4,5,6,7,8
numgood,37.000000,39.000000,29.000000,40.000000,36.000000,35.000000,35.000000,36.000000,39.000000
goodlen,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
padd,NaN,24.324324,5.128205,41.379310,7.500000,16.216216,5.714286,11.111111,26.315789
goodlensmoothed,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
numbad,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,2.000000,0.000000
tor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dadd,0.000000,0.067452,0.012748,0.127390,0.026299,0.046387,0.017428,0.027738,0.076193
totalnum,37.000000,39.000000,29.000000,40.000000,37.000000,35.000000,36.000000,38.000000,39.000000
numadd,0.000000,9.000000,2.000000,12.000000,3.000000,6.000000,2.000000,4.000000,10.000000
numsub,7.000000,12.000000,1.000000,7.000000,7.000000,2.000000,3.000000,7.000000,0.000000
psub,NaN,32.432432,2.564103,24.137931,17.500000,5.405405,8.571429,19.444444,0.000000
totallen,172.773747,133.428361,156.885949,94.198939,114.071695,129.346181,114.755615,144.206138,131.244804
dsub,0.040515,0.089936,0.006374,0.074311,0.061365,0.015462,0.026143,0.048542,0.000000
numsub2,NaN,7.000000,12.000000,1.000000,7.000000,7.000000,2.000000,3.000000,7.000000
dsub2,NaN,0.052463,0.076489,0.010616,0.061365,0.054118,0.017428,0.020804,0.053335
totallensmoothed,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
psub2,NaN,18.918919,30.769231,3.448276,17.500000,18.918919,5.714286,8.333333,18.421053

=== segment 3 ===

,0,1,2,3,4,5,6,7,8
numgood,11.000000,8.000000,8.000000,14.000000,11.000000,10.000000,8.000000,8.000000,12.000000
goodlen,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
padd,NaN,0.000000,0.000000,75.000000,0.000000,0.000000,0.000000,0.000000,50.000000
goodlensmoothed,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
numbad,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
tor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dadd,0.000000,0.000000,0.000000,0.178553,0.000000,0.000000,0.000000,0.000000,0.091111
totalnum,11.000000,8.000000,8.000000,14.000000,11.000000,11.000000,8.000000,8.000000,12.000000
numadd,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,4.000000
numsub,3.000000,0.000000,0.000000,3.000000,1.000000,2.000000,0.000000,0.000000,0.000000
psub,NaN,0.000000,0.000000,37.500000,7.142857,18.181818,0.000000,0.000000,0.000000
totallen,41.616394,50.246194,43.277833,33.603428,36.515885,52.682673,48.884740,56.364911,43.902363
dsub,0.072087,0.000000,0.000000,0.089277,0.027385,0.037963,0.000000,0.000000,0.000000
numsub2,NaN,3.000000,0.000000,0.000000,3.000000,1.000000,2.000000,0.000000,0.000000
dsub2,NaN,0.059706,0.000000,0.000000,0.082156,0.018982,0.040913,0.000000,0.000000
totallensmoothed,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
psub2,NaN,27.272727,0.000000,0.000000,21.428571,9.090909,18.181818,0.000000,0.000000

=== segment 4 ===

,0,1,2,3,4,5,6,7,8
numgood,14.000000,13.000000,14.000000,18.000000,18.000000,17.000000,13.000000,14.000000,19.000000
goodlen,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
padd,NaN,0.000000,14.285714,33.333333,10.526316,10.526316,5.882353,14.285714,53.333333
goodlensmoothed,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
numbad,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000
tor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dadd,0.000000,0.000000,0.039200,0.122652,0.030487,0.037198,0.012552,0.027538,0.137012
totalnum,15.000000,14.000000,15.000000,19.000000,19.000000,17.000000,14.000000,15.000000,20.000000
numadd,0.000000,0.000000,2.000000,5.000000,2.000000,2.000000,1.000000,2.000000,8.000000
numsub,1.000000,1.000000,1.000000,2.000000,3.000000,5.000000,1.000000,3.000000,0.000000
psub,NaN,6.666667,7.142857,13.333333,15.789474,26.315789,5.882353,21.428571,0.000000
totallen,56.014435,55.603745,51.020555,40.765829,65.600944,53.766361,79.666292,72.627057,58.389064
dsub,0.017853,0.017984,0.019600,0.049061,0.045731,0.092995,0.012552,0.041307,0.000000
numsub2,NaN,1.000000,1.000000,1.000000,2.000000,3.000000,5.000000,1.000000,3.000000
dsub2,NaN,0.017984,0.019600,0.024530,0.030487,0.055797,0.062762,0.013769,0.051379
totallensmoothed,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
psub2,NaN,6.666667,7.142857,6.666667,10.526316,15.789474,29.411765,7.142857,20.000000